
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/switch.css' %}">
    <link rel="stylesheet" href="{% static 'css/in_room.css' %}">

    <!-- <link rel="stylesheet" href="{% static 'room.css' %}"> -->
    <title>Twilio Video Room</title>

</head>
<body>

    <div class="container-fluid master" id="container">

        <!-- Toggle local video -->
        

        <!-- <p>Name: {{context.person_name}}</p>
        <p>Participants : {{context.participantsList}}</p>
        <p>Room: {{context.room_name}}</p> -->


        <div class="remote_div"></div>
        <div class="waiting">
            <h1 class="waiting" > Room Empty.... {{room_name}}      Please wait...</h1>
            <p>{{context.participantsList}}</p>
        </div>
               
        
        
        <div class="local-group">

            <a href="{% url 'video_app:HomeView' %}" id="disconnect" onclick="disconnect()">Disconnect</a>            
            <label id="switch" class="switch" value="Connect">
                <input type="checkbox" onclick="toggleLocalVideo()" value="1" id="local_video">
                <span class="slider round"></span>
            </label>
            <h4 class="switch-label">Local Video : </h4>

            <!-- <div id="local_media"></div> -->
        </div>
        
        
    </div>
         

    <script type="text/javascript">
        context = {{ context|safe }};
        // widget.init(context);
    </script>
    <script src="//media.twiliocdn.com/sdk/js/video/releases/2.0.0/twilio-video.min.js"></script>
    <script type="text/javascript" src="{% static 'js/room_script.js' %}" ></script>
    
</body>
</html>